body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	background-color: #ebebebee;
	padding-top: 20px;
}

.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.question {
	font-size: 1.5em;
	margin-top: 20px;
}

.question-group {
	margin-bottom: 40px;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
}

/* 按钮的基础样式 */
.btn {
	padding: 15px 30px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
	color: black;
}

/* 鼠标悬停样式 */
.btn.strongly-disagree:hover {
	background-color: #BE3D3D;
	border-color: #BE3D3D;
}

.btn.disagree:hover {
	background-color: #D75B5B;
	border-color: #D75B5B;
}

.btn.neutral:hover {
	background-color: #6090A9;
	border-color: #6090A9;
}

.btn.agree:hover {
	background-color: #8FCF77;
	border-color: #8FCF77;
}

.btn.strongly-agree:hover {
	background-color: #5FB540;
	border-color: #5FB540;
}

/* 按钮激活状态 */
.btn.strongly-disagree.active {
	background-color: #BE3D3D;
	border-color: #BE3D3D;
	color: white;
}

.btn.disagree.active {
	background-color: #D75B5B;
	border-color: #D75B5B;
	color: white;
}

.btn.neutral.active {
	background-color: #6090A9;
	border-color: #6090A9;
	color: white;
}

.btn.agree.active {
	background-color: #8FCF77;
	border-color: #8FCF77;
	color: white;
}

.btn.strongly-agree.active {
	background-color: #5FB540;
	border-color: #5FB540;
	color: white;
}

/* 确保同一组中只有一个按钮可以处于激活状态 */
.buttons .btn.active ~ .btn.active {
	background-color: #fff;
	color: black;
	border-color: #ccc;
}

/* 布局相关样式 */
.section-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.chart-text-container {
	display: flex;
	gap: 20px;
	margin-top: 20px;
}

.chart-container {
	flex: 0 0 60%; /* Takes 60% of the width */
}

.text-box {
	flex: 0 0 40%; /* Takes 40% of the width */
	padding: 20px;
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	font-size: 16px;
}